<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<!-- /* @thymesVar id="project" type="pl.wilenskid.jamorganizer.entity.bean.ProjectBean" */ -->

<head th:replace="fragments/base-page.html :: baseHead('meetGameDev -- Delete User')"></head>

<body>

<header th:replace="fragments/base-page.html :: header"></header>

<div id="content-section-form">
    <h1 id="form-title">Delete Project</h1>

    <main id="content">
        <form class="form" th:method="delete" th:action="'/project/' + ${project.getId()}">
            <p>Are you sure you want to delete project <strong th:text="${project.getTitle()}"></strong>?</p>

            <p>All submissions and grades from judges will be lost, and you will be unable to win any other event!</p>

            <div class="btn-group btn-group-right">
                <a th:replace="fragments/button.html::linkButtonNormal('Cancel', 'buttonCancel', '/project/view?projectId=' + ${project.getId()})"></a>
                <button th:replace="fragments/button.html::submitError('Delete', 'buttonDelete')"></button>
            </div>
        </form>
    </main>
</div>

<footer th:replace="fragments/base-page.html :: footer"></footer>

</body>
</html>