<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,applicationUser-scalable=no"
          name="viewport">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="true" name="HandheldFriendly">
    <link rel="stylesheet" th:href="@{/static/styles/container.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/button.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/other.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/nav-bar.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/form.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/input.css}"/>
    <title>test</title>
</head>
<body>
<div id="main-container">
    <div id="nav-bar">
        <ul id="nav-menu">
            <li class="nav-menu-element">example</li>
        </ul>
    </div>
    <div class="container">
        <form class="form" method="post" action="/operation">
            <div class="field">
                <div class="field-label-container">
                    <label for="name" class="field-label">Name</label>
                </div>
                <div class="field-input-container">
                    <input name="name" id="name" type="text"/>
                </div>
            </div>

            <div class="field">
                <div class="field-label-container">
                    <label for="displayName" class="field-label">Display name</label>
                </div>
                <div class="field-input-container">
                    <input name="displayName" id="displayName" type="text"/>
                </div>
            </div>

            <div class="field">
                <div class="field-label-container">
                    <label for="email" class="field-label">Email</label>
                </div>
                <div class="field-input-container">
                    <input name="email" id="email" type="email"/>
                </div>
            </div>

            <div class="field">
                <div class="field-label-container">
                    <label for="phoneNumber" class="field-label">phone number</label>
                </div>
                <div class="field-input-container">
                    <input name="phoneNumber" id="phoneNumber" type="text"/>
                </div>
            </div>

            <div class="field">
                <div class="field-label-container">
                    <label for="jobStart" class="field-label">Job start</label>
                </div>
                <div class="field-input-container">
                    <input name="jobStart" id="jobStart" type="date"/>
                </div>
            </div>

            <input name="operationType" type="hidden" value="CREATE_APPLICATION_USER"/>

            <button type="reset">Reset</button>
            <button type="submit">Register</button>

        </form>
    </div>
</div>
</body>
</html>