<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<!--/*@thymesVar id="events" type="java.util.List<pl.wilenskid.jamorganizer.entity.Event>"*/-->
<!-- /* @thymesVar id="event" type=pl.wilenskid.jamorganizer.core.entity.Event" */ -->
<head>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,applicationUser-scalable=no"
          name="viewport">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="true" name="HandheldFriendly">
    <link rel="stylesheet" th:href="@{/static/styles/text-box.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/container.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/button.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/other.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/nav-bar.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/form.css}"/>
    <title>test</title>
</head>
<body>
<div id="main-container">
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Submissions Count</td>
            <td>Submissions Start</td>
            <td>Submissions End</td>
            <td>Judgments Start</td>
            <td>Judgments End</td>
            <td>Results Date</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event: ${events}">
            <td><a th:text="${event.getName()}" th:href="'/event/view?eventId=' + ${event.getId()}"></a></td>
            <td th:text="${event.getSubmissions().size()}"></td>
            <td th:text="${event.getSubmissionsStart()}"></td>
            <td th:text="${event.getSubmissionsEnd()}"></td>
            <td th:text="${event.getJudgementsStart()}"></td>
            <td th:text="${event.getJudgementsEnd()}"></td>
            <td th:text="${event.getName()}"></td>
            <td th:text="${event.getResultsDate()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>