<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,applicationUser-scalable=no"
          name="viewport">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="true" name="HandheldFriendly">
    <link rel="stylesheet" th:href="@{/static/styles/container.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/button.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/other.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/nav-bar.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/form.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/input.css}"/>
    <title>test</title>
</head>
<body>
<div id="main-container">
    Executing operation...
</div>
</body>
</html>