<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<!-- /* @thymesVar id="event" type="pl.wilenskid.jamorganizer.entity.Event" */ -->
<!-- /* @thymesVar id="organizers" type="java.util.List<pl.wilenskid.jamorganizer.entity.ApplicationUser>" */ -->
<!-- /* @thymesVar id="judges" type="java.util.List<pl.wilenskid.jamorganizer.entity.ApplicationUser>" */ -->
<!-- /* @thymesVar id="projects" type="java.util.List<pl.wilenskid.jamorganizer.entity.Project>" */ -->
<!-- /* @thymesVar id="project" type="pl.wilenskid.jamorganizer.entity.Project" */ -->
<!-- /* @thymesVar id="user" type="pl.wilenskid.jamorganizer.entity.ApplicationUser" */ -->

<head>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,applicationUser-scalable=no"
          name="viewport">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="true" name="HandheldFriendly">
    <link rel="stylesheet" th:href="@{/static/styles/text-box.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/container.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/button.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/other.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/nav-bar.css}"/>
    <link rel="stylesheet" th:href="@{/static/styles/form.css}"/>
    <title>test</title>
</head>
<body>
<div id="main-container">
    <h1 th:text="${event.getName()}"></h1>
    <ul>
        <li>Description: <b th:text="${event.getDescriptionLink()}"></b></li>
        <li>Submissions Start: <b th:text="${event.getSubmissionsStart()}"></b></li>
        <li>Submissions End: <b th:text="${event.getSubmissionsEnd()}"></b></li>
        <li>Judgments Start: <b th:text="${event.getJudgementsStart()}"></b></li>
        <li>Judgments End: <b th:text="${event.getSubmissionsEnd()}"></b></li>
        <li>Results Date: <b th:text="${event.getResultsDate()}"></b></li>
    </ul>

    <h3>Organizers</h3>
    <ul th:each="user: ${organizers}">
        <li><a th:text="${user.getName()}"></a></li>
    </ul>

    <h3>Judges</h3>
    <ul th:each="user: ${judges}">
        <li><a th:text="${user.getName()}"></a></li>
    </ul>

    <h3>Submitted projects</h3>
    <table>
        <thead>
        <tr>
            <td>Image</td>
            <td>Name</td>
            <td>Endorsement</td>
            <td>Comments</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project: ${projects}">
            <td>Some image todo!</td>
            <td><a th:text="${project.getTitle()}" th:href="'/project/view?projectId=' + ${project.getId()}"></a></td>
            <td>-</td>
            <td>-</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>