<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<!-- /* @thymesVar id="timeService" type="pl.wilenskid.jamorganizer.service.TimeService" */ -->
<!-- /* @thymesVar id="applicationUser" type="pl.wilenskid.jamorganizer.entity.ApplicationUser" */ -->

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="main-container">
    <h1 th:text="${applicationUser.getDisplayName()}"></h1>
    <ul>
        <li>Login: <b th:text="${applicationUser.getName()}"></b></li>
        <li>Email: <b th:text="${applicationUser.getEmail()}"></b></li>
        <li>Phone number: <b th:text="${applicationUser.getPhoneNumber()}"></b></li>
        <li>Created: <b th:text="${created}"></b></li>
        <li>Job start: <b th:text="${jobStart}"></b></li>
        <li>Role: <b th:text="${applicationUser.getApplicationUserRole()}"></b></li>
    </ul>
</div>
</body>
</html>