#nav-bar {
  height: max-content;
  width: 100%;
  border-bottom: 1px solid dimgray;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 10px -10px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 8px 10px -10px rgba(66, 68, 90, 1);
  box-shadow: 0 8px 10px -10px rgba(66, 68, 90, 1);
  margin: auto;
}

ul#nav-menu {
  list-style: none;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 5px;
  margin: 0;
  width: max-content;
}

li.nav-menu-element {
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

li.nav-menu-element:hover {
  background-color: #c4c4c4;
}