<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<!-- /* @thymesVar id="events" type="java.util.List<pl.wilenskid.jamorganizer.entity.bean.EventBean>" */ -->
<!-- /* @thymesVar id="event" type=pl.wilenskid.jamorganizer.entity.bean.EventBean" */ -->
<!-- /* @thymesVar id="projects" type="java.util.List<pl.wilenskid.jamorganizer.entity.bean.ProjectBean>" */ -->
<!-- /* @thymesVar id="project" type=pl.wilenskid.jamorganizer.entity.bean.ProjectBean" */ -->

<head th:replace="fragments/base-page.html :: baseHead('meetGameDev -- Home Page')"></head>
<body>

<header th:replace="fragments/base-page.html :: header"></header>

<div id="content-section">
    <main id="content">
        <div class="header-with-action">
            <h1>Incoming Events</h1>
            <div class="btn-group btn-group-right">
                <a th:replace="fragments/button.html::linkButtonNormal('View All', 'buttonViewAllEvents', '/event/view-all')"></a>
            </div>
        </div>

        <table class="tbl">
            <thead class="tbl-head">
            <tr>
                <th class="tbl-head-cell">Logo</th>
                <th class="tbl-head-cell">Name</th>
                <th class="tbl-head-cell tbl-head-cell-right">Actions</th>
            </tr>
            </thead>

            <tbody class="tbl-body">
            <tr class="tbl-body-row" th:each="event : ${events}">
                <td class="tbl-body-cell" th:utext="'<img height=\'80\' src=' + ${event.getLogoLink()} + ' alt=\'Event Logo\' />'"></td>
                <td class="tbl-body-cell" th:text="${event.getName()}"></td>
                <td class="tbl-body-cell tbl-body-cell-right">
                    <a th:replace="fragments/button.html :: linkButtonNormal('View', 'buttonView' + ${event.getId()}, '/event/view?eventId=' + ${event.getId()})"></a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="header-with-action">
            <h1>Top 10 Projects</h1>
            <div class="btn-group btn-group-right">
                <a th:replace="fragments/button.html::linkButtonNormal('View All', 'buttonViewAllProjects', '/project/view-all')"></a>
            </div>
        </div>

        <table class="tbl">
            <thead class="tbl-head">
            <tr>
                <th class="tbl-head-cell">Logo</th>
                <th class="tbl-head-cell">Name</th>
                <th class="tbl-head-cell tbl-head-cell-right">Actions</th>
            </tr>
            </thead>

            <tbody class="tbl-body">
            <tr class="tbl-body-row" th:each="project : ${projects}">
                <td class="tbl-body-cell tbl-body-cell-img" th:utext="'<img height=\'80\' src=' + ${project.getLogoLink()} + ' alt=\'Event Logo\' />'"></td>
                <td class="tbl-body-cell" th:text="${project.getTitle()}"></td>
                <td class="tbl-body-cell tbl-body-cell-right">
                    <a th:replace="fragments/button.html :: linkButtonNormal('View', 'buttonView' + ${project.getId()}, '/project/view?projectId=' + ${project.getId()})"></a>
                </td>
            </tr>
            </tbody>
        </table>

    </main>
</div>

<footer th:replace="fragments/base-page.html :: footer"></footer>
</body>
</html>